.title{
    color: rgba(10,111,243,255);
    font-family: Arial, Helvetica, sans-serif;
    margin:5px  355px;
    padding: 1px 0px 0px 50px;
    position: absolute;
    left: 0px;
}
.HomeDiv{
    width: 55%;
    /* text-align: center; */
    margin: auto;
    width: 50%;
    background-color: rgb(246, 243, 243);

}
.icon{
    position: relative;
    right: -314px;
    font-size: 25px;
    /* color: black; */
    background-color: rgb(246, 243, 243);
    border:rgb(246, 243, 243);
    width: 5%;
    margin: 2px 25px -21px;
    /* padding: 0px 0px 0px 0px; */


}
.photo{
    border: solid rgba(10,111,243,255);
    width: 30%;
    margin-left: 23px;
    margin-top: 23px;
    border-radius: 10px ;

}
.photo > input{
    display: none;
}
.photo > p{
    color: rgba(10,111,243,255);
}
#photoIcon{
    margin-top: 22px;
    color: rgba(10,111,243,255);
    font-size: 50px;
}
.Cam{
    border: solid rgba(10,111,243,255);
    width: 30%;
    margin-left: 23px;
    margin: -129px 0px 0px 456px;
    border-radius: 10px;
}
.Cam > p{
    color: rgba(10,111,243,255);
}
.tArea{
    width: 95%;
    border: white;
}
.Post{
    width: 50%;
    color: white;
    background-color:rgba(10,111,243,255);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    font-size: 20px;
    margin: auto;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    border:rgba(10,111,243,255);
    margin-top: 23px;

}
.Post:disabled{
    opacity: 0.6;
}
#img{
    height: 150px;
    width: 150px;
    margin:13px 364px 9px 17px;
}
.imgPrint{
    border: solid rgba(10,111,243,255);
    border-radius: 10px;
    width: 84%;
    margin: 23px 23px 23px 56px;
    display: flex;
}
.imgDel{
    background-color: rgb(246, 243, 243);
    border: rgb(246, 243, 243);
}
.imgDel > i{
    font-size: 25px;
}
#vid{
    height: 150px;
    width: 150px;
    margin:13px 364px 9px 17px;

}
